# Terraform directories
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Sensitive variable files
*.tfvars

# Terraform plan output
*.tfplan

# Zip files (Lambda packages, etc.)
*.zip

# Crash logs
crash.log

.vscode/